<header class="site-header fixed">

  <a class="header-logo" href="{{site.baseurl}}/">
		<div class="header-logo-img">
			<img class="logo" src="{{ site.staticurl }}logos/offene-wahlen-small.png" alt="Offene Wahlen Österreich" />
		</div>
	</a>
  <nav class="header-nav nav-items">
    <ul>
      <li{% if page.menu_ueberuns %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/ueber-uns">Das Projekt</a></li>
      <li{% if page.menu_forderungen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/forderungen-v1">Unsere Forderungen</a></li>
      <li{% if page.menu_tutorials %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
      <li{% if page.menu_beitragen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/beitragen">Beitragen</a></li>
      <li{% if page.menu_veranstaltungen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/veranstaltungen">Veranstaltungen</a></li>
      <li{% if page.menu_ressourcen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/ressourcen">Ressourcen</a></li>
    </ul>
  </nav>

</header>
