<header class="site-header fixed">

  <a class="header-logo" href="{{site.baseurl}}/">
		<div class="header-logo-img">
			<img class="logo" src="{{ site.staticurl }}logos/offene-wahlen-small.png" alt="Offene Wahlen Österreich" />
		</div>
	</a>
  <nav class="header-nav nav-items">
    <ul>
      <li><a class="nav-link" href="https://nrw17.offenewahlen.at/">#NRW17</a></li>
      <li{% if page.menu_forderungen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/forderungen-v1">Forderungen</a></li>
      <li{% if page.menu_termine %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/termine">Termine</a></li>
      <li{% if page.menu_mitmachen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/mitmachen">Mitmachen</a></li>
      <li><a class="nav-link" href="https://okfn.at/category/projekte/offene-wahlen/">Blog</a></li>
      <li{% if page.menu_ressourcen %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/ressourcen">Ressourcen</a></li>
      <li{% if page.menu_ueberuns %} class="active"{% endif %}><a class="nav-link" href="{{ site.baseurl }}/ueber-uns">Über uns</a></li>
      <li><a class="nav-link" href="https://github.com/OKFNat/offenewahlen-at"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

</header>
